body {
  margin: 0;
}
.container {
  color: #000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  cursor: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: block;
}

.header-container {
  color: #000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-style: normal;
  cursor: auto;
}

.smallfont {
  font-size: smaller;
  line-height: 1.6rem;
  margin-top: 0rem;
}

.largefont {
  font-size: xx-large;
  margin-top: 0.3rem;
}

.center {
  text-align: center;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(171, 181, 190);
  overflow: hidden;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  z-index: 1000;
  text-align: left;
  padding-left: 6rem;
}

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: rgb(171, 181, 190);
  overflow: hidden;
  z-index: 1000;
  text-align: left;
  justify-content: space-between;
}

.topnav-text {
  display: inline-block;
  font-size: x-large;
  font-family: "Tahoma";
  color: black;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  margin: 0 0.5rem;
}

.footer-left {
  font-size: smaller;
  font-family: "Tahoma";
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin: 0 0.5rem;
  padding-left: 6rem;
}

.footer-right {
  font-size: smaller;
  font-family: "Tahoma";
  color: black;
  text-decoration: none;
  margin: 0 0.5rem;
  padding-right: 6rem;
}

.topnav-text:hover {
  text-decoration: underline;
}

.footer-right:hover {
  text-decoration: underline;
}

.square_img {
  width: 30rem;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
