body {
  margin: 0;
}
.container {
  color: #000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  cursor: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.header-container {
  color: #000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  cursor: auto;
}

.smallfont {
  font-size: smaller;
  line-height: 22px;
  margin-top: 0px;
}

.largefont {
  font-size: xx-large;
  margin-top: 5px;
}

.center {
  text-align: center;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(216, 228, 216);
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 1000;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(216, 228, 216);
  overflow: hidden;
  z-index: 1000;
  text-align: center;
  padding: 0;
}

.topnav-text {
  display: inline-block;
  font-size: x-large;
  font-family: "Tahoma";
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 0 50px;
}

.footer-text {
  display: inline-block;
  font-size: large;
  font-family: "Tahoma";
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.topnav-text:hover {
  color: darkslategrey;
}

.footer-text:hover {
  color: darkslategrey;
}

.link-image {
  color: slategray;
  margin: 0px;
  font-size: xx-large;
}

.link-image:hover {
  color: black;
}
