body {
  margin: 0;
}
.container {
  color: #000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  cursor: auto;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.header-container {
  color: #000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  cursor: auto;
}

.smallfont {
  font-size: smaller;
  line-height: 22px;
  margin-top: 0px;
}

.largefont {
  font-size: xx-large;
  margin-top: 5px;
}

.center {
  text-align: center;
}

.topnav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: rgb(216, 228, 216);
  overflow: hidden;
  z-index: 1000;
}

.topnav-resume {
  text-align: left;
  text-indent: 10%;
  font-size: x-large;
  font-family: "Arial";
  color: slategrey;
  font-weight: bold;
  text-decoration: none;
}

.topnav-resume:hover {
  color: black;
}

.link-image {
  color: slategray;
}

.link-image:hover {
  color: black;
}
